---
import type { GetStaticPaths } from "astro";
import Layout from "../../layouts/Layout.astro";
import Tags from "../../components/Tags.astro";
import Prose from "../../components/Prose.astro";
import { posts } from "../../util";
import RelatedPosts from "../../components/RelatedPosts.astro";
export const getStaticPaths = (async () => {
  return posts
    ? posts.map((post: any) => {
        return {
          params: {
            post: post.slug,
          },
        };
      })
    : [];
}) satisfies GetStaticPaths;
const { post } = Astro.params;
const postContent: any = posts.find((post2: any) => post2.slug === post)!;
const { Content, headings, remarkPluginFrontmatter } = await postContent.render();
---

<Layout title={postContent.data.title}>
  <h1 class="font-mosk text-primary-gray font-bold md:text-[4em] text-[3em] pb-4 tracking-wider">
    {postContent.data.title}
  </h1>
  <div
    class="md:pt-[6vw] xl:max-w-[1200px] xl:mx-auto lg:mx-[5vw] md:mx-[6vw] pt-12 md:p-0 md:tracking-wide md:leading-8 leading-6"
  >
    <Prose>
      <Content />
    </Prose>
  </div>
  <Tags />
  <RelatedPosts post={postContent.data.relatedPosts} />
</Layout>
