---
---
<div
  class="prose md:!leading-7 !leading-6 !tracking-wide prose-code:!font-cascadiaCode prose-code:!tracking-widest md:!text-base !text-sm xl:!max-w-[1000px] lg:!max-w-[800px] max-w-full mx-auto">
  <slot />
</div>