---
import RelatedPostSVG from "../../src/svg/document-outline.svg";
import RelatedPostsSVG from "../../src/svg/documents-outline.svg";
import type { CollectionEntry } from "astro:content";
import { Image } from "astro:assets";
import { posts } from "../util";
import PostPreview from "./PostPreview.astro";
type Props = {
  post: CollectionEntry<"posts">["data"]["relatedPosts"];
};
const { post } = Astro.props;
const relatedPosts =
  post &&
  posts.filter((relatedPost) => post.find((innerPost) => innerPost.slug === relatedPost.slug));
---

{
  relatedPosts && (
    <section class="md:pb-[6vw] flex flex-col items-stretch xl:max-w-[1100px] xl:mx-auto lg:mx-[5vw] md:mx-[6vw] pb-12 md:p-0">
      <h2 class="font-mosk text-primary-gray font-bold md:text-xl text-lg tracking-wide leading-8">
        <span class="pr-1">Related Post{relatedPosts.length > 0 ? "s" : ""}</span>
        {relatedPosts.length > 0 ? (
          <Image
            src={RelatedPostsSVG}
            alt=""
            class="md:h-6 md:w-6 w-5 h-5 inline-block md:mr-4 mr-2"
          />
        ) : (
          <Image
            src={RelatedPostSVG}
            alt=""
            class="md:h-6 md:w-6 w-5 h-5 inline-block md:mr-4 mr-2"
          />
        )}
        :
      </h2>
      <div>
        <PostPreview relatedPosts={relatedPosts.map((post) => post.slug)} />
      </div>
    </section>
  )
}
